{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    <div class="profile-page">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link  {{ app.request.get('_route') == 'userdata' ? 'active' }}" id="nav-home-tab"
                        data-bs-toggle="tab" data-bs-target="#nav-home" onclick="location.href='{{ path('userdata') }}'"
                        type="button"
                        role="tab" aria-controls="nav-home" aria-selected="true">Moje dane
                </button>
                <button class="nav-link {{ app.request.get('_route') == 'rentals' ? 'active' }}" id="nav-profile-tab"
                        data-bs-toggle="tab" data-bs-target="#nav-profile"
                        onclick="location.href='{{ path('rentals') }}'" type="button" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Wypożyczenia
                </button>
                <button class="nav-link  {{ app.request.get('_route') == 'orders' ? 'active' }}" id="nav-contact-tab"
                        data-bs-toggle="tab" data-bs-target="#nav-contact"
                        onclick="location.href='{{ path('orders') }}'"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Zamówienia
                </button>
                <button class="nav-link  {{ app.request.get('_route') == 'history' ? 'active' }}" id="nav-contact-tab"
                        data-bs-toggle="tab" data-bs-target="#nav-contact"
                        onclick="location.href='{{ path('history') }}'"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Historia zwrotów
                </button>
                <button class="nav-link  {{ app.request.get('_route') == 'favourites' ? 'active' }}"
                        id="nav-contact-tab"
                        data-bs-toggle="tab" data-bs-target="#nav-contact"
                        onclick="location.href='{{ path('favourites') }}'"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Ulubione
                </button>
            </div>
        </nav>
        <div class="content-bar">
            {% block content %}
                <div class="tab-content" id="nav-tabContent">
                    Nic tu nie ma
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
