{% extends 'base.html.twig' %}

{% block title %}Strona startowa{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="content-bar">
            <h1>Wyszukiwarka książek:</h1>

            <form class="search-group" action>
                <div class="form-outline">
                    <input type="text" class="form-control" name="search"
                           placeholder="Wyszukaj książkę..." value="{{ app.request.query.get('search') }}"
                    />
                </div>
                <button id="search-button" type="submit" class="btn btn-primary" formaction="/search">
                    <i class="fas fa-search"></i>
                </button>
            </form>

        </div>
        {% block content %}
            {#TODO: get random books#}
            <div class="content-bar">
                <h1>Szczęśliwy traf <i class="fas fa-smile-wink"></i></h1>
                <div class="books-bar">
                    <div class="book-horizontal">
                        <img class="book-img" src="{{ asset('images/book1.jpg') }}" alt="">
                        <h5><a href="#">O chłopcu, który był kotem</a></h5>
                        <h6>Paul Gallier</h6>
                    </div>
                    <div class="book-horizontal">
                        <img class="book-img" src="{{ asset('images/book2.jpg') }}" alt="">
                        <h5><a href="#">Sygnał</a></h5>
                        <h6>Maxime Chattam</h6>
                    </div>
                    <div class="book-horizontal">
                        <img class="book-img" src="{{ asset('images/book3.jpg') }}" alt="">
                        <h5><a href="#">Kalendarz i klepsydra</a></h5>
                        <h6>Tadeusz Konwicki</h6>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}